<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.panjikrisnayasa.caripura">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.contributor.MyTempleDetailWaitingActivity"></activity>
        <activity android:name=".view.contributor.DeleteTempleRequestActivity" />
        <activity
            android:name=".view.contributor.EditTempleRequestSecondActivity"
            android:label="@string/label_edit_temple_request"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.contributor.EditTempleRequestFirstActivity"
            android:label="@string/label_edit_temple_request"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.contributor.AddTempleRequestSecondActivity"
            android:label="@string/label_add_temple_request"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.contributor.AddTempleRequestFirstActivity"
            android:label="@string/label_add_temple_request"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.contributor.MyTempleDetailApprovedActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.contributor.ContributorMyTempleListActivity"
            android:label="@string/label_my_temple_list"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.admin.TempleRequestHistoryDetailActivity" />
        <activity
            android:name=".view.admin.TempleRequestHistoryActivity"
            android:label="@string/label_temple_request_history"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.RequestedByActivity"
            android:label="@string/label_requested_by"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.TempleRequestDetailDeleteActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.TempleRequestDetailEditActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.TempleRequestDetailAddActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.TempleRequestListActivity"
            android:label="@string/label_temple_request_list"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.AdminMyTempleDetailActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.admin.EditTempleSecondActivity"
            android:label="@string/label_edit_temple"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.EditTempleFirstActivity"
            android:label="@string/label_edit_temple"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.AddTempleSecondActivity"
            android:label="@string/label_add_temple"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.AddTempleFirstActivity"
            android:label="@string/label_add_temple"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.guest.TempleDetailActivity"
            android:label="@string/label_temple_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.admin.AdminMyTempleListActivity"
            android:label="@string/label_my_temple_list"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.guest.SignUpActivity"
            android:label="@string/label_sign_up"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.guest.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.guest.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>